*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, lexend, Verdana, sans-serif;
    background-color: #1ae7a3;
    color: #333;

display: flex;
flex-direction: column;
min-height: 100vh;
}

header{

    background-color: #d4f12d;
    color: rgb(218, 9, 9);
    padding: 30px 50px;

    display:  flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    max-width: 60px;
    margin-right: 15px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

nav a:hover{
    background-color: #f39c12;
    color: #fff;
}

main{
    flex: 1;
    padding: 30px;
    max-width: 1200px;
    margin:0 auto;

    display: flex;
    gap: 30px;
}

section{

flex: 3;
background: white;
padding: 25px;
border-radius: 8px;
border: 1px solid #ccc;

}

.imagen-fluida{
max-width: 50%;
height: auto;
border-radius: 4px;
margin-top: 15px;
}

.imagen-fluida-alerta{
    max-width: 50%;
    height: auto;
    border-radius: 4px;
    margin-top: 15px;
}


aside{
    flex: 1;
     background: #fff3cd;
     padding: 20px;
     border-radius: 8px;
     border-left: 5px solid #ffc107;
     
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

input, select, button{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: #3498db;
    color: white;
    border:none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover{
    background-color: #2980b9;

}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td{
    padding:12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th{
    background-color: #2c3e50;
    color: white;
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 760px) {
    header,main{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul{
        flex-direction: column;
        margin-top: 15px;
    }
    header img{
        margin-bottom: 10px;
    }
}

#titulo-incidencias{
    color: #e74c3c;
    text-transform: uppercase;
}